
#lang {
    padding: 14px;
}
.user-panel>.image>img {
    height: 45px;
}
.sidebar-collapse .user-panel>.image>img {
    height: 35px !important;
    width: 35px !important;
}
.profile-user-img{
	height: 100px;
}
.Action_Dropdown{
	display: inline-block;
	margin: 10px;
}
.AddItem{
	margin:10px;
	float: right;
}
.SEOWrap span.select2{
	width: 100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	color: #333;
}
.SEOWrap span.select2 .select2-selection--multiple{
	border-radius: 0px;
	border-color: #d2d6de;
}